

nav .nav-bar{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(160, 156, 156);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
  background-color: rgb(160, 156, 156);
}

footer{
  background-color: rgb(180, 156, 156);
}


ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
}

  
  li {
    float: left;
  }
  

  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid white;
    text-decoration: none;
    
    justify-content:center;
  }
  
 
  li a:hover {
    background-color: blue;
  }


